#main {
    width: 100%;
    min-height: 100vh;

    display: flex;
}
#left {
    width: 50%;
    height: 100vh;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    display: flex;
    align-items: center;

}
#about {
    width: 75%;
    margin-left: 2em;

    user-select: none;
    -webkit-user-select: none;
}

#title {
    color: #0000FF;
    font-size: 2.2em;
}
.subHeading {
    font-size: 1.2em;
    color: #555555;
    font-weight: 410;
    margin: 0;
}
.navItem {
    color: #000;
    text-decoration: none;
    position: relative;

    font-weight: bolder;
}

.navItem:before {
    color: #000;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0000FF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navItem:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
#links {
    width: 75%;
    max-width: 540px;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    cursor: pointer;
    height: 2em;
    width: auto;

    color: #0000FF;
}
.icon:hover {
    opacity: 0.75;
}
#right{
    width: 50%;
    min-height: 100vh;
}

@media only screen and (max-width: 740px) {
    #main {
        flex-direction: column;
    }
    #left {
        width: 100vw;
        position: relative;
        align-items: baseline;

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #links {
        margin-top: 1em;
    }
    .subHeading {
        font-size: 1.1em;
    }
    #about {
        margin: 2em auto;
    }
    #right {
        width: 100vw;
    }
    
}
