* {
    font-family: 'Helvetica Neue', 'Helvetica';
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

pre * {
    font-family: monospace;
    font-weight: bold;
}
