

#post p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.4;
    }
#post li {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    line-height: 1.4;
    list-style-position: inside;

    
}
#post h2 {
    font-size: 1.75rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em 0;
    color: #0000FF;
}

#post blockquote {
    border-left: 0.5em solid rgba(0, 0, 0, 0.1);
    padding-left: 1em;
    color: #292929;
}